This doccument contains the code to perform linear regression on the dataset to determine the expected power usage for a given site at a specific ??????

In [84]:
import pandas as pd

data = pd.read_csv('Datasets/power-laws-forecasting-energy-consumption-training-data.csv', delimiter=';')
data = data.drop(['obs_id','ForecastId'], axis=1)
data.head(3)

   SiteId                  Timestamp         Value
0      42  2016-10-18T02:45:00+00:00  26397.049623
1      42  2016-10-18T11:45:00+00:00  42958.364641
2      42  2016-10-18T20:45:00+00:00  27096.919666

Next I remove any data that does not belong to the site '42'

In [85]:
wantedData = data.drop(data[data.SiteId != 42].index)
wantedData.head()

   SiteId                  Timestamp         Value
0      42  2016-10-18T02:45:00+00:00  26397.049623
1      42  2016-10-18T11:45:00+00:00  42958.364641
2      42  2016-10-18T20:45:00+00:00  27096.919666
3      42  2016-10-20T10:45:00+00:00  50211.408087
4      42  2016-10-20T18:45:00+00:00  50503.305105

In [106]:
dateDataframe = pd.DataFrame(columns=['SiteId','Year','Month','Day','Value'])


for val in range(len(wantedData)):
    date = wantedData.iloc[val].Timestamp[:10] ##Extract only the date portion
    date = date.split('-') ##Split the date into Year Month Day

    x = data.iloc[val].SiteId
    print(date)
    y = list[data.iloc[val].Value]

    print(x)

    dateDataframe.loc[val] = [data.iloc[val].Value,date,data.iloc[val].Value]                                   ##Update dataframe
    
dateDataframe.head()

['2016', '10', '18']
42

ValueError: cannot set a row with mismatched columns